extends ../layout

block content
  #main.container
    h3.page-header 설문조사 만들기
    p
    .row
      .col-xs-12
        form(action='/survey/index', method='POST')
          .form
            .main
              label(for='title') 설문제목
              input(type='text', id='title', name='title', class='form-control', 
              placeholder='설문제목', required, autofocus)
              p
              label(for='content') 설문지 설명
              textarea(type='text', id='content', name='content', rows='2', class='form-control',
              placeholder='설문지 설명', autofocus)
              p
            .sub(id='questions')
              p
            .row
              .col-xs-1
                button#add-question.btn.btn-primary(type='button') + 
            p
            .row
              .col-xs-1
                button#complete.btn.btn-default.btn-mini(type='submit') 완료
        
        script#questionTemplate(type='text/template')    
          form.content(action='/survey/index', method='POST')
            .row
              .col-xs-1
                label(id="Qnum") Q
              .col-xs-11
                input(type='text', id='question', name='question', class='form-control',
              placeholder='질문입력', autofocus, required)
            p  
            .row
              .col-xs-1
                label 질문유형
              .col-xs-11  
                .form-group
                  select.form-control(name='category', id='category')
                    option(value='객관식' selected) 객관식
                    option(value='단일입력') 단일입력
                    option(value='의견') 의견
            p(id='Qtype')
                       
        script#sltformTemplate(type='text/template')
          form.content
            .row
              .col-xs-1
                label 보기
              .col-xs-11 
              .form-group         
                input(type='radio', disabled)
                input(type = 'text', id='Qoption', name = 'Qoption',
                placeholder = '보기 입력', autofocus)
                button#add-example.btn-default(type='button') +
              .form(id='exampleAdd')  
                  
        script#SingleOpinionTemplate(type='text/template')
          form.content
            .row
              .col-xs-1 
              .col-xs-11
                input(type = 'text', id='SingleOpinion', name = 'SingleOpinion',
                 class='form-control', autofocus, disabled)
            p
        script#OpinionTemplate(type='text/template')
          form.content
            .row
              .col-xs-1 
              .col-xs-11
                textarea(type = 'text', id='Opinion', name = 'Opinion', rows='5'
                 class='form-control', autofocus, disabled)
            p
        script#exampleAddTemplate(type='text/template')
          form(id='Delexample')
            .row
              .col-xs-1
                label  
              .col-xs-11                               
                .form-group
                  input(type='radio', disabled)
                  input(type = 'text', id='Qoption', name = 'Qoption',
                  placeholder = '보기 입력', autofocus)
                  button#add-example.btn-default(type='button') +
                  button#delete-example.btn-default(type='button') x
                .form-group   
          
        script(type='text/javascript', src='/javascripts/question.js')         
             
                   
