extends ../layout

block content
  form
    .container
      h1.page-header= survey.title
      if survey.content
      p.well(style='white-space:pre;')=survey.content
      p.well(style='white-space:pre;')=survey.question
        br
        if survey.category == '객관식'
          input(type='radio') 
          =survey.Qoption
        if survey.category == '단일입력'
          input(type = 'text', id='SingleOpinion', name = 'SingleOpinion',
           class='form-control', autofocus )
        if survey.category == '의견'
          textarea(type = 'text', id='Opinion', name = 'Opinion', rows='5'
           class='form-control', autofocus)
        
      button#complete.btn.btn-default.btn-mini(type='submit') 설문 완료
      .col-xs-1
        a.btn.btn-primary(href='/survey/index') 목록
      script(type='text/javascript', src='/javascripts/show.js')
